<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <title>Scrummy</title>
    </head>
    <body>
        <script>0</script>
        <div>
            <button onclick=sendMessage("hide")>Hide</button>
            <button onclick=sendMessage("show")>Show</button>
            <button onclick=sendMessage("reset")>Reset</button>
        </div>
        <div>
            <button onclick=sendMessage("1")>1</button>
            <button onclick=sendMessage("2")>2</button>
            <button onclick=sendMessage("3")>3</button>
            <button onclick=sendMessage("5")>5</button>
            <button onclick=sendMessage("8")>8</button>
            <button onclick=sendMessage("13")>13</button>
            <button onclick=sendMessage("21")>21</button>
        </div>
        <div id="votes">
        </div>
        <script>
            var ws = new WebSocket(`ws://localhost:8888/ws?name={{ name }}`);
            ws.onmessage = function(event) {
                votes_div.innerHTML = event.data
            };
            function sendMessage(message) {
                ws.send(message)
            };
        </script>
    </body>
</html>