<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Scrummy</title>
    </head>
    <body>
        <script>0</script>
        <button onclick=sendMessage("hide")>hide</button>
        <button onclick=sendMessage("show")>show</button>
        <button onclick=sendMessage("reset")>reset</button>
        <br>
        <br>
        <button onclick=sendMessage("1")>1</button>
        <button onclick=sendMessage("2")>2</button>
        <button onclick=sendMessage("3")>3</button>
        <button onclick=sendMessage("5")>5</button>
        <button onclick=sendMessage("8")>8</button>
        <button onclick=sendMessage("13")>13</button>
        <button onclick=sendMessage("21")>21</button>
        <br>
        <br>
        <div id="votes">
        </div>
    </body>
    <script>
        var ws = new WebSocket(`ws://localhost:8888/ws/{{ name }}`);
        ws.onmessage = function(event) {
            var votes = document.getElementById('votes')
            votes.innerHTML = event.data
        };
        function sendMessage(vote) {
            ws.send(vote)
        }
    </script>
</html>