<table style="width: 50%" {% if rainbow %}class="rainbow"{% endif %}>
    <tbody>
        {% for name, vote in state_dict.items() %}
        <tr>
            <td>{{ name }}</td>
            {% if vote == "?" %}
            <td>?</td>
            {% elif show %}
            <td >{{ vote }}</td>
            {% else %}
            <td>#</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if rainbow %}
<audio src="https://www.soundboard.com/handler/DownLoadTrack.ashx?cliptitle=He-Man+-+HEYYEYAAEYAAAEYAEYAA&filename=23/230752-9acb363f-a24c-45a0-9109-47a9929e0e02.mp3" style="display:none;" autoplay>
{% endif %}
